* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.Main,
.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.navBar {
  position: absolute;
  width: 100%;
  height: 4rem;
  top: 0;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.185);
}
.navBar header {
  position: absolute;
  width: 10rem;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navBar header button {
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  border-radius: 10px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.308);
  padding: 10px;
  background-color: white;
  color: black;
  transition: 0.3s;
}
.Main .cardList {
  position: absolute;
  width: 100%;
  height: 90%;
  top: 4.5rem;
  display: flex;
  flex-wrap: wrap;
  padding-top: 3rem;
  padding-bottom: 3rem;
  gap: 5rem;
  justify-content: center;
  overflow: hidden;
  background-color: transparent;
  overflow-y: auto;
}
.Main .cardList li {
  width: 300px;
  height: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.123),
    -8px -8px 8px rgba(236, 236, 236, 0.541);
  padding: 1rem;
}
.Main .cardList li span:nth-child(1) {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.Main .cardList li footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Main .cardList li footer button ,
.registrationForm .submitBtn{
  cursor: pointer;
  width: 5rem;
  outline: none;
  border: none;
  background: transparent;
  border-radius: 10px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.13);
  padding: 10px;
  background-color: rgb(0, 132, 255);
  color: rgb(255, 255, 255);
  transition: 0.3s;
}
.Main .cardList li footer button:nth-child(2) {
  background-color: rgb(8, 206, 68);
  color: rgb(255, 255, 255);
}
.Main .cardList li footer button:hover,
.navBar header button:hover ,
.registrationForm .submitBtn:hover{
  transform: scale(1.1);
}
.registrationForm,.moreDetailsContainer {
  position: absolute;
  z-index: 1;
  width: 0px;
  height: 0px;
  background-color: paleturquoise;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.123),
    -8px -8px 8px rgba(236, 236, 236, 0.541);
  padding: 1rem;
  transform: scale(0);
}
.registrationForm header ,.moreDetailsContainer header{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  height: 4rem;
}
.registrationForm .inputFields ,.moreDetailsContainer div{
  width: 95%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  overflow: none;
  overflow-y: auto;
}
.registrationForm header button ,.moreDetailsContainer header button{
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  position: absolute;
  right: 2rem;
}
.registrationForm header button img ,.moreDetailsContainer header button img{
  width: 100%;
  height: 100%;
}
.registrationForm input ,.moreDetailsContainer span{
  width: 90%;
  height: 2rem;
  outline: none;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
}
.moreDetailsContainer span{
  background-color: rgb(235, 255, 254);
}
.registrationForm textarea {
 width: 90%;
 outline: none;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
}
.registrationForm .submitBtn{
  background-color: rgb(6, 173, 40);
  width: 80%;
  font-size: 20px;
}